<div class="container-md p-0" id="calculatorContainer">
  <div class="">
    <h2>Calculator App</h2>
  </div>
  <div
    class="mt-5 d-flex justify-content-end align-items-center border rounded"
    id="calculatorScreen"
  >
    <div>
      <p class="me-4" id="screenNumbers">Screen</p>
    </div>
  </div>

  <div
    id="keysContainer"
    class="d-flex mt-4 flex-wrap justify-content-between p-3 border rounded"
  >
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">7</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">8</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">9</button>
    </div>
    <div>
      <button class="btn btn-primary border rounded mx-2 mt-3">DEL</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">4</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">5</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">6</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">+</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">1</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">2</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">3</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">-</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">.</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">0</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">/</button>
    </div>
    <div>
      <button class="btn btn-light border rounded mx-2 mt-3">X</button>
    </div>
    <div class="mx-auto">
      <button id="resetButton" class="btn btn-primary border rounded mx-2 mt-3">
        RESET
      </button>
    </div>
    <div class="mx-auto">
      <button id="equalButton" class="btn btn-danger border rounded mx-2 mt-3">
        =
      </button>
    </div>
  </div>
</div>
