<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon-32x32.png"
    />
    <title>Calculator App</title>
  </head>
  <body class="d-flex justify-content-center align-items-center container">
    <div class="container-md p-0" id="calculatorContainer">
      <div class="">
        <h2>Calculator App</h2>
      </div>
      <div
        class="
          mt-5
          d-flex
          justify-content-end
          align-items-center
          border
          rounded
        "
        id="calculatorScreen"
      >
        <div>
          <p class="me-4" id="screenNumbers">Screen</p>
        </div>
      </div>

      <div
        id="keysContainer"
        class="d-flex mt-4 flex-wrap justify-content-between p-3 border rounded"
      >
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">7</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">8</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">9</button>
        </div>
        <div>
          <button class="btn btn-primary border rounded mx-2 mt-3">DEL</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">4</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">5</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">6</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">+</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">1</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">2</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">3</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">-</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">.</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">0</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">/</button>
        </div>
        <div>
          <button class="btn btn-light border rounded mx-2 mt-3">X</button>
        </div>
        <div class="mx-auto">
          <button
            id="resetButton"
            class="btn btn-primary border rounded mx-2 mt-3"
          >
            RESET
          </button>
        </div>
        <div class="mx-auto">
          <button
            id="equalButton"
            class="btn btn-danger border rounded mx-2 mt-3"
          >
            =
          </button>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="app.js"></script>
  </body>
</html>
